<div class="center jumbotron">
<h1>欢迎进入班车管理系统</h1>
<h2>
请选择您的角色
</h2>
    <%= link_to "系统管理员登录", login_path, class: "btn btn-lg btn-primary" %>
<br/>
<br/>
<br/>
    <%= link_to "班车管理员登录", bus_login_path, class: "btn btn-lg btn-primary" %>
<br/>
	</div>
