
<h3>预约历史记录</h3> 
<div class="device-status">

  <div class="panel-body">
 
  </div>


<table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>乘客姓名</th>
            <th>预约时间</th>
          </tr>
        </thead>
        <tbody>
<% @reservations.each_with_index do |reservation,index| %> 
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= reservation.passenger.name %></td>
            <td><%= reservation.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          </tr>
<% end %> 
	
        </tbody>
      </table>
</div>
