 <% provide(:title, 'All users') %>
    <h1>全部路线</h1>
<br>
<%= link_to "新增路线", new_bus_number_url, {:class=>"btn btn-primary" } %>
<br>
<br>
<br>
    <ul class="users">
<% @bus_numbers.each do |bus_number| %> 
         <li>
	<div class="anode">
      <%= link_to bus_number.name, bus_number %>
	<div class="bnode"><%= link_to "更新", edit_bus_number_url(bus_number), {:class=>"btn btn-primary" } %> | <%= link_to "删除", bus_number, :class=>"btn btn-danger", :method => :delete, :data => { :confirm=> "You sure?" }  %>   </div></div>
        </li>
<% end %> 
</ul>


