    <h1>乘客消息推送</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
<form class="new_bus_driver" id="push_driver_form" action="/push_passenger" accept-charset="UTF-8" method="post">
<label for="bus_driver_name">推送消息</label>
<input class="form-control" type="text" name="push" id="push_driver">
<input type="submit" name="commit" value="发出消息" class="btn btn-primary">
</form>
      </div>
    </div>


