<div class="stats">
<div class="number">
  <strong id="following" class="stat">
    <%= convert_to_temp temp %>
  </strong>
  工作温度
</div>
<div class="number">
  <strong id="followers" class="stat">
    <%= convert_to_rssi rssi  %>
  </strong>
  基站信号
</div>
</div>
