<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Bus Management</a>
    by Hackthon
  </small>
<nav> <ul>
  <li><%#= link_to "About",   about_path %></li>
          <li><%#= link_to "Contact", contact_path %></li>
      <li><a href="#">备案号XXXX</a></li>
</ul> </nav>
</footer>
